{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:eslint-comments/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/require-default-props": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**/*.js",
          "config-overrides.js",
          "src/setupTests.ts",
          "src/components/**/*.stories.tsx",
          "src/**/*.test.{ts,tsx}"
        ]
      }
    ],
    "prettier/prettier": [
      "error"
    ]
  }
}
